::selection {
  background: white;
  color: black;
}

a {
  color: rgb(66, 150, 228);
}

html {
  overflow-x: hidden;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inconsolata-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inconsolata-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inconsolata-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inconsolata-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inconsolata-v20-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

body {
  font-size: 11pt;
  font-family: Inconsolata, monospace;
  color: white;
  background-color: black;
}

#container {
  padding: 0 1em 3em 1em;
}

#container output {
  clear: both;
  width: 100%;
  color: rgb(255, 255, 255);
}

#container output h2 {
  letter-spacing: 4px;
}

#container output h3 {
  letter-spacing: 4px;
  margin: 0;
}

#container output pre {
  margin-left: 30px;
}

#one {
  background: black;
  white-space: nowrap;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  overflow-x: hidden;
  top: 0;
}

#head {
  background: black;
  position: relative;
  z-index: 6000;
}

#marquee {
  display: inline-block;
  margin-left: 4px;
}

#banner {
  margin: 0;
}

#header {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#logo {
  margin: 0 1em 1em 0;
}

.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}

.input-line>div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.prompt {
  white-space: break-word;
  float: left;
}

.text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-left: 7px;
}

.core {
  color: rgb(196, 63, 63);
}

.float-left {
  float:left;
}

.root {
  color: rgb(71, 199, 125);
}

.fold {
  color: rgb(66, 150, 228);
}

.good {
  background: black;
  color: rgb(176, 135, 223);
}

.bad {
  background: rgb(176, 135, 223);
}

.balance {
  color: rgb(71, 199, 125);
  z-index: 6000;
}

.hidden {
  display: none;
}

.missing {
  color:black;
  background:white;
}

.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
  padding: 0;
  margin-left: 7px;
}

.help {
  height: auto;
  -webkit-column-width: .5em;
  -moz-column-width: .5em;
  -o-column-width: .5em;
  column-width: .5em;
  column-count: 3;
  width: 20rem;
}